name: Build and Push Docker Image
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.chetan0172 }}
        password: ${{ secrets.dckr_pat_juzDWaKvvhep7gRRQp_PNEwJMZ8 }}

    - name: Build and push image
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: chetan0172/node-demo:latest
